[Unit]
Description=Bird feeder watcher
Conflicts=birdwatch-stop.service
Requires=birdpred.service
After=birdpred.service

[Service]
ExecStart=/bin/bash dslr.sh
KillSignal=SIGTERM
WorkingDirectory=/home/birds/bf
SyslogIdentifier=birdwatch

[Install]
WantedBy=default.target
