[Unit]
Description=Bird feeder raw images developer
Conflicts=birdwatch-stop.service
#Requires=birdpred.service
#After=birdpred.service

[Service]
ExecStart=/bin/bash rawdeveloper.sh
KillSignal=SIGTERM
WorkingDirectory=/home/birds/bf
SyslogIdentifier=rawdeveloper

[Install]
WantedBy=default.target
